#ignore specific files
*~
*.pyc
*.bak
*.swo
*.swp
.project
.pydevproject
.idea/*
.settings/*
*.vscode
*.log
/venv/
#apps/account_manager/migrations/000*
#apps/auth_manager/migrations/000*
#apps/email_gateway/migrations/000*
#apps/sms_gateway/migrations/000*
#apps/master_manager/migrations/000*
#apps/bank_account_manager/migrations/000*
#apps/order_manager/migrations/000*
#apps/card_vault/migrations/000*
#apps/ledger_manager/migrations/000*
#apps/entity_manager/migrations/000*
#apps/loan_manager/migrations/000*
#apps/common/migrations/000*
#apps/entity/migrations/000*
#apps/transactions/migrations/000*
#apps/settings/migrations/000*
#apps/ban/migrations/000*
#apps/myinfo/migrations/000*
**/migrations/
!/migrations/__init__.py
logs/*
.DS_Store
/config/cov.coverage
/config/.env
/config/cov.syspath.txt
/config/coverage.xml
/config/.coverage
/config/static/*
/.coverage
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
coverage_report/coverage.xml
static/*
/.scannerwork/pylint/
/Dore-JQuery-Admin-Dashboard-2.3.0 2/
/.scannerwork/
google-alps-sit.json
cloud_sql_proxy
/config/ssl/private_octifime.key
/config/ssl/STAR_octifi_com.crt
/config/ssl/www_octifi_me.crt
**/media/
!/media/images/technology_icon/
settings.ini
main.py