{% extends '__base.html' %}
{% load i18n static widget_tweaks%}

{% block content %}
    {{ form.media }}
    <div class="container margintop">
        <legend class="border-bottom mb-4">Create Blog:-</legend>
        <div class="login-form">
            <form autocomplete="off" role="form" class="theme-form" method="POST" action="" enctype="multipart/form-data" >
            {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if form.errors %}
                {{form.errors}}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for field in form %}
                    <div class="form-group">
                        <label>{{ field.label_tag }}</label>
                        {% render_field field class="form-control" %}
                    </div>
                {% endfor %}

                <div class="form-group">
                </div>
                <div class="form-submit">
                  <button type="submit" id="submit" name="submit" class="btn btn-default bg-navy bold">{% trans 'Create' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
