{% extends "__base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <div class="content-section">
    <fieldset class="form-group" style="margin-top: 40px;">
        <legend class="border-bottom mb-4">Update Blog</legend>
    </fieldset>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group" style="color: black;">
            <button class="btn btn-info" type="submit">Update</button>
        </div>
    </form>
</div> -->

<div class="formContainer overflow-auto" style="height:fit-content;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group" style="display: grid; grid-template-columns: 1fr 1fr;
grid-gap: 10px;">
            <legend class="border-bottom mb-4">Update Blog:-</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group col-md-4 float-left" style="color:black">
            <button style="margin-left: -13px;" type="submit" class="btn submitBtn">Submit</button>
        </div>
    </form>
</div>

{% endblock content %}

